[window]
padding = { x = 32, y = 32 }
dynamic_padding = true
opacity = 0.9
blur = true

[selection]
save_to_clipboard = true

[font]
size = {{terminal-font-size}}

[font.normal]
family = "{{mono-font}}"

[colors.primary]
foreground = "#{{base05-hex}}"
background = "#{{base00-hex}}"
bright_foreground = "#{{base07-hex}}"

[colors.normal]
black = "#{{base00-hex}}"
red = "#{{base08-hex}}"
green = "#{{base0B-hex}}"
yellow = "#{{base0A-hex}}"
blue = "#{{base0D-hex}}"
magenta = "#{{base0E-hex}}"
cyan = "#{{base0C-hex}}"
white = "#{{base05-hex}}"

[colors.bright]
black = "#{{base03-hex}}"
red = "#{{base12-hex}}"
green = "#{{base14-hex}}"
yellow = "#{{base13-hex}}"
blue = "#{{base16-hex}}"
magenta = "#{{base17-hex}}"
cyan = "#{{base15-hex}}"
white = "#{{base07-hex}}"
