[colors]
background = "#{{base01-hex}}FF"
text_primary = "#{{base05-hex}}FF"
text_muted = "#{{base04-hex}}FF"
accent_primary = "#{{base0C-hex}}FF"
accent_secondary = "#{{base08-hex}}FF"
warning = "#{{base09-hex}}FF"
error = "#{{base0F-hex}}FF"
insert_hint = "#{{base0D-hex}}80"
backdrop = "#{{base00-hex}}FF"
shadow = "#{{base00-hex}}7F"
