set font "monospace normal {{application-font-size}}"
set default-bg "#{{base00-hex}}"
set default-fg "#{{base01-hex}}"
set statusbar-fg "#{{base04-hex}}"
set statusbar-bg "#{{base02-hex}}"
set inputbar-bg "#{{base00-hex}}"
set inputbar-fg "#{{base07-hex}}"
set recolor-lightcolor "#{{base00-hex}}"
set recolor-darkcolor "#{{base06-hex}}"
