<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>name</key><string>Base16</string>
    <key>settings</key>
    <array>
      <dict><key>settings</key><dict>
        <key>background</key><string>#{{base00-hex}}</string>
        <key>foreground</key><string>#{{base05-hex}}</string>
        <key>caret</key><string>#{{base05-hex}}</string>
        <key>selection</key><string>#{{base02-hex}}</string>
      </dict></dict>
      <dict><key>name</key><string>Comments</string><key>scope</key><string>comment</string><key>settings</key><dict><key>foreground</key><string>#{{base03-hex}}</string></dict></dict>
      <dict><key>name</key><string>Strings</string><key>scope</key><string>string</string><key>settings</key><dict><key>foreground</key><string>#{{base0B-hex}}</string></dict></dict>
      <dict><key>name</key><string>Numbers</string><key>scope</key><string>constant.numeric</string><key>settings</key><dict><key>foreground</key><string>#{{base09-hex}}</string></dict></dict>
      <dict><key>name</key><string>Keywords</string><key>scope</key><string>keyword</string><key>settings</key><dict><key>foreground</key><string>#{{base0E-hex}}</string></dict></dict>
      <dict><key>name</key><string>Functions</string><key>scope</key><string>entity.name.function</string><key>settings</key><dict><key>foreground</key><string>#{{base0D-hex}}</string></dict></dict>
      <dict><key>name</key><string>Types</string><key>scope</key><string>entity.name.type, support.type</string><key>settings</key><dict><key>foreground</key><string>#{{base0A-hex}}</string></dict></dict>
      <dict><key>name</key><string>Variables</string><key>scope</key><string>variable</string><key>settings</key><dict><key>foreground</key><string>#{{base08-hex}}</string></dict></dict>
    </array>
  </dict>
</plist>
