[Settings]
gtk-font-name={{sans-font}} {{application-font-size}}
gtk-theme-name={{gtk-theme}}
gtk-icon-theme-name={{icon-theme}}
gtk-cursor-theme-name={{cursor-theme}}
gtk-cursor-theme-size={{cursor-size}}
gtk-application-prefer-dark-theme={{prefer-dark}}
