[window]
padding = { x = 32, y = 32 }
dynamic_padding = true
opacity = 0.9
blur = true

[selection]
save_to_clipboard = true

[font]
size = {{terminal_font_size}}

[font.normal]
family = "{{mono_font}}"

[colors.primary]
foreground = "#{{base05}}"
background = "#{{base00}}"
bright_foreground = "#{{base07}}"

[colors.normal]
black = "#{{base00}}"
red = "#{{base08}}"
green = "#{{base0B}}"
yellow = "#{{base0A}}"
blue = "#{{base0D}}"
magenta = "#{{base0E}}"
cyan = "#{{base0C}}"
white = "#{{base05}}"

[colors.bright]
black = "#{{base03}}"
red = "#{{base12}}"
green = "#{{base14}}"
yellow = "#{{base13}}"
blue = "#{{base16}}"
magenta = "#{{base17}}"
cyan = "#{{base15}}"
white = "#{{base07}}"

[general]
import = ["~/.config/alacritty/themes/noctalia.toml"]