[/]
color-scheme='{{#prefer_dark}}prefer-dark{{/prefer_dark}}{{^prefer_dark}}default{{/prefer_dark}}'
font-name='{{sans_font}} {{application_font_size}}'
gtk-theme='{{gtk_theme}}'
icon-theme='{{icon_theme}}'
cursor-theme='{{cursor_theme}}'
cursor-size=uint32 {{cursor_size}}