[Appearance]
color_scheme_path={{qt-color-scheme}}.conf
custom_palette=false
icon_theme={{icon-theme}}
standard_dialogs=default
style=Fusion

[Fonts]
fixed="{{mono-font}},{{application-font-size}},-1,5,50,0,0,0,0,0"
general="{{sans-font}},{{application-font-size}},-1,5,50,0,0,0,0,0"
