{
  "chat.editor.fontFamily": "{{mono_font}},Maple Mono NF CN",
  "chat.editor.fontSize": {{larger_font_size}},
  "chat.fontFamily": "{{sans_font}}",
  "chat.mcp.gallery.enabled": true,
  "debug.console.fontFamily": "{{mono_font}},Maple Mono NF CN",
  "debug.console.fontSize": {{larger_font_size}},
  "direnv.restart.automatic": true,
  "editor.defaultFormatter": "VanCoding.vscode-treefmt-nix",
  "editor.fontFamily": "{{mono_font}},Maple Mono NF CN",
  "editor.fontLigatures": true,
  "editor.fontSize": {{larger_font_size}},
  "editor.fontWeight": 500,
  "editor.formatOnPaste": false,
  "editor.formatOnSave": true,
  "editor.inlayHints.fontFamily": "{{serif_font}}",
  "editor.inlayHints.padding": true,
  "editor.inlineSuggest.fontFamily": "{{serif_font}}",
  "editor.lineHeight": 0,
  "editor.minimap.enabled": false,
  "editor.wordWrap": "on",
  "editor.wordWrapColumn": 120,
  "evenBetterToml.formatter.allowedBlankLines": 1,
  "evenBetterToml.formatter.arrayAutoCollapse": true,
  "evenBetterToml.formatter.arrayTrailingComma": true,
  "evenBetterToml.formatter.columnWidth": 120,
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "explorer.decorations.badges": false,
  "extensions.autoCheckUpdates": false,
  "extensions.supportAgentsWindow": {
   "vira.vsc-vira-theme": true
  },
  "files.associations": {
    "*.css": "tailwindcss"
  },
  "files.autoSave": "afterDelay",
  "git.autofetch": true,
  "git.confirmSync": false,
  "git.enableSmartCommit": true,
  "chat.disableAIFeatures": true,
  "js/ts.implementationsCodeLens.enabled": true,
  "js/ts.inlayHints.enumMemberValues.enabled": true,
  "js/ts.inlayHints.functionLikeReturnTypes.enabled": true,
  "js/ts.inlayHints.parameterNames.enabled": "literals",
  "js/ts.inlayHints.parameterTypes.enabled": false,
  "js/ts.inlayHints.propertyDeclarationTypes.enabled": false,
  "js/ts.inlayHints.variableTypes.enabled": false,
  "js/ts.referencesCodeLens.enabled": true,
  "json.schemaDownload.trustedDomains": {
    "https://developer.microsoft.com/json-schemas/": true,
    "https://inlang.com/schema/": true,
    "https://json-schema.org/": true,
    "https://json.schemastore.org/": true,
    "https://raw.githubusercontent.com/catppuccin/vscode/catppuccin-vsc-v3.19.0/": true,
    "https://raw.githubusercontent.com/devcontainers/spec/": true,
    "https://raw.githubusercontent.com/microsoft/vscode/": true,
    "https://schemastore.azurewebsites.net/": true,
    "https://shadcn-svelte.com": true,
    "https://www.schemastore.org/": true
  },
  "markdown.preview.fontFamily": "{{sans_font}}",
  "markdown.preview.fontSize": {{larger_font_size}},
  "nix.enableLanguageServer": true,
  "nix.formatterPath": "treefmt",
  "nix.hiddenLanguageServerErrors": [
    "Request textDocument/definition failed."
  ],
  "nix.serverPath": "nixd",
  "notebook.markup.fontFamily": "{{sans_font}}",
  "python.defaultInterpreterPath": "${workspaceFolder}/.venv/bin/python",
  "python.languageServer": "Jedi",
  "rust-analyzer.restartServerOnConfigChange": true,
  "scm.inputFontFamily": "{{mono_font}},Maple Mono NF CN",
  "sherlock.userId": "ada2d0fb-52d4-48d9-b290-36d054d5e54b",
  "svelte.enable-ts-plugin": true,
  "svelte.plugin.svelte.format.config.singleQuote": true,
  "svelte.plugin.svelte.format.config.svelteStrictMode": true,
  "tailwindCSS.classFunctions": ["tv", "cn"],
  "terminal.integrated.defaultProfile.linux": "zsh",
  "terminal.integrated.fontSize": {{larger_font_size}},
  "terminal.integrated.sendKeybindingsToShell": true,
  "treefmt.command": "treefmt",
  "update.mode": "none",
  "window.titleBarStyle": "custom",
  "window.zoomLevel": 1,
  "workbench.colorTheme": "NoctaliaTheme",
  "workbench.iconTheme": "vs-seti",
  "workbench.panel.defaultLocation": "right",
  "workbench.startupEditor": "none"
}
