set font "monospace normal {{application_font_size}}"
set default-bg "#{{base00}}"
set default-fg "#{{base01}}"
set statusbar-fg "#{{base04}}"
set statusbar-bg "#{{base02}}"
set inputbar-bg "#{{base00}}"
set inputbar-fg "#{{base07}}"
set recolor-lightcolor "#{{base00}}"
set recolor-darkcolor "#{{base06}}"

include noctaliarc